* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #dddddd;
}
.d-flex {
  display: flex;
}
.f-col {
  flex-direction: column;
}
.horizontal-centering {
  /*main axis when flex direction is row 
  cross axis when flex direction is column*/
  justify-content: center;
}
.vertical-centering {
  /*main axis when flex direction is column  
  cross axis when flex direction is row*/
  align-items: center;
}
.row-gap {
  row-gap: 30px;
}
.row-gap2 {
  row-gap: 20px;
}
.col-gap {
  column-gap: 30px;
}

.container {
  max-width: 1140px;
  height: auto;
  background-color: #ffffff;
  margin: 40px auto;
  padding: 20px;
}
h1 {
  margin: 0;
  font-size: 30px;
}
nav {
  width: 100%;
  background-color: #dddddd;
  align-items: center;
  padding: 30px 15px;
  /* margin-bottom: 20px; */
}
header {
  width: 100%;
  background-color: #dddddd;
  padding: 130px 15px;
  /* margin-bottom: 20px; */
}
.section1 {
  width: 100%;
  background-color: #dddddd;
  padding: 50px 10px;
  /* margin-bottom: 20px; */
}
.section1 .content {
  width: 100%;
  margin-top: 60px;
}
.section1 .content .card {
  width: 25%;
  padding: 0px 10px;
}
.section1 .content .card .box {
  background-color: gray;
  color: #fff;
  font-size: 30px;
  padding: 60px 15px;
}
.section2 {
  width: 100%;
  background-color: #dddddd;
  padding: 50px 10px;
  /* margin-bottom: 20px; */
}
.section2 .content {
  width: 100%;
  margin-top: 60px;
}
.section2 .content .left {
  width: 50%;
  padding: 0px 10px;
}
.section2 .content .left .card {
  padding: 200px 15px;
  font-size: 30px;
  color: #fff;
  background-color: gray;
}
.section2 .content .right {
  width: 50%;
  padding: 0px 10px;
}
.section2 .content .right .card {
  padding: 48px 15px;
  font-size: 30px;
  color: #fff;
  background-color: gray;
  /* margin-bottom: 20px; */
}
footer {
  width: 100%;
  background-color: #dddddd;
  padding: 50px 10px;
}
